//globals

//ie7 mixins => create IE stylesheet
@mixin inline-blocky-hack {
	zoom: 1;
	*display: inline;
}

/* @mixin box-shadow-hack($blur) {
	zoom: 1;
	filter: progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=$blur, Direction=0), progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=$blur, Direction=90), progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=$blur, Direction=180), progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=$blur, Direction=270);
} 
=> currently replaced by PIE
*/


//mixins
@mixin box-sizing-mix($type:"border") {
	box-sizing: #{$type}-box;
	-webkit-box-sizing: #{$type}-box;
	-moz-box-sizing: #{$type}-box;
}

@mixin box-shadow-mix($blur, $r, $g, $b) {
	-webkit-box-shadow:0 0 #{$blur}px rgb($r, $g, $b); 
	-moz-box-shadow: 0 0 #{$blur}px rgb($r, $g, $b); 
	box-shadow:0 0 #{$blur}px rgb($r, $g, $b); 
	behavior: url('/css/PIE.htc');
	position: relative;
	z-index: 0;
}

@mixin box-radius-mix($pixels) {
	border-radius: #{$pixels}px;
	-moz-border-radius: #{$pixels}px;
	-webkit-border-radius: #{$pixels}px;
	behavior: url('/css/PIE.htc');
	position: relative;
	z-index: 0;
}

@mixin floating($height:0) {
	margin-bottom: 20px;
	background-color: #FFF;

	@if $height > 0 {
		height: #{$height}px;
	}

	@include box-radius-mix(8);
	@include box-shadow-mix(15, 102, 102, 102);
}

//http://paulirish.com/2012/box-sizing-border-box-ftw/ => works in IE8?
* {
	@include box-sizing-mix;
}

body {
	background: transparent;
}

#main {
	padding-top:40px;
}

#nypl_bar {
	font-family: "Kievit","Myriad Pro","Lucida Grande","Calibri",verdana,arial,helvetica,sans-serif;
	position: relative;
	height: 30px;
	color: #fff;
	font-size: 14px;
	margin: 0;
	padding: 6px 0 0 60px;

	select {
		font-size:12px;
		margin-left: 5px;
		max-width: 180px;
		height: 18px;
	}

	form {
		display:inline;
	}

	span.nypl_link {
		float:left;
	}
}

#content {
	@include floating($height:350);
}

#howto {
	margin: 0 auto;
	overflow: hidden;
	min-height: 350px;

	ul {
		text-align:center;
	}

		li {
			background: #FFF;
			border: 1px solid black;
			height: 150px;
			width: 155px;
			display: inline-block;
			margin-top: 10px;

			@include box-shadow-mix(5, 102, 102, 102);
			@include inline-blocky-hack;
		}

	@include floating();
}

#kickmap {
	@include floating($height:500);
}

#youtube {
	@include floating($height:200);

	.tubin {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;

		iframe, object, embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}