//globals

//ie7 mixins => create IE stylesheet
@mixin inline-blocky-hack {
	zoom: 1;
	*display: inline;
}

//mixins
@mixin box-sizing-mix($type:"border") {
	box-sizing: #{$type}-box;
	-webkit-box-sizing: #{$type}-box;
	-moz-box-sizing: #{$type}-box;
}

@mixin box-shadow-mix($blur, $r, $g, $b) {
	-webkit-box-shadow:0 0 #{$blur}px rgb($r, $g, $b); 
	-moz-box-shadow: 0 0 #{$blur}px rgb($r, $g, $b); 
	box-shadow:0 0 #{$blur}px rgb($r, $g, $b); 
	behavior: url('/css/PIE.htc');
	position: relative;
	z-index: 0;
}

@mixin box-radius-mix($pixels) {
	border-radius: #{$pixels}px;
	-moz-border-radius: #{$pixels}px;
	-webkit-border-radius: #{$pixels}px;
	behavior: url('/css/PIE.htc');
	position: relative;
	z-index: 0;
}


.DV {
	overflow: hidden;

	.reheader {
		display: none;
	}
}

.loupe {
	background-color: #555; 
	background: rgba(0, 0, 0, 0.25); 
	border: 5px solid rgba(0, 0, 0, 0); 
	cursor: url('../images/blank.png'), url('../images/blank.cur'), none;
}



