<div id="mainwrapper">
	<div id="main">
		<div id="templateheader"><h1>Welcome!</h1></div>
		<div id="templatecontent"><p class="plain">After 72 years, the National Archives has released the full set of records comprising the <a href="http://1940census.archives.gov/">1940 Federal Census</a>: a milestone event for historians and genealogy researchers searching for documentary material of New Deal and Depression-era America. But finding a name among the millions of handwritten records is like looking for a needle in a haystack. That's why the <a href="http://www.nypl.org/milstein">Milstein Division</a> of US/Local History &amp; Genealogy, together with <a href="http://www.nypl.org/collections/labs">NYPL Labs</a>, has built Direct Me NYC 1940. This experimental website features freshly digitized 1940 telephone directories from the five boroughs of New York City, which, combined with penetrating search tools (powered by Stephen Morse's One-Step data store), enable patrons to convert residential street addresses of 1940s New Yorkers into precise Census enumeration districts, permitting targeted navigation of the Census records. Direct Me NYC expands access to materials previously only available on microfilm, and reduces legwork for genealogists, researchers, educators and history buffs. Arm yourself with the information you need to explore this historic moment. See who's in the phone book!</p>
		<p class="plain">This site will continue to evolve and relies on your feedback! Send bug reports, feature ideas, press inquiries etc. to <a href="mailto:directme@nypl.org">directme@nypl.org</a><br />
		</p>
		<p class="plain"><strong>About the Milstein Division</strong></p>
		<p class="plain">The Irma and Paul <a href="http://www.nypl.org/milstein">Milstein Division</a> of United States History, Local History and Genealogy is located in the New York Public Library's Stephen A. Schwarzman Building on Fifth Avenue and 42nd Street. The Milstein Division collects materials documenting American History on the national, state and local level, Genealogy, Heraldry, Personal and Family Names, and Flags. As one of the nation's largest publicly accessible and non-membership genealogical collections, the Milstein Division is a national resource. Cited in most family history handbooks, the Milstein Division is a mecca to researchers from around the world. Its extensive holdings and helpful research services are used each year by thousands of family historians, scholars, students, city planners, television and film producers, creative writers, visual artists and anyone interested in history.  Learn more about our world-class collections, and follow the activities of the Division through our <a href="http://www.nypl.org/blog/division/milstein">blog</a>, <a href="http://www.flickr.com/photos/nypl/collections/72157622646686448/">Flickr</a>, <a href="http://twitter.com/nyplmilstein">Twitter</a> and <a href="http://www.facebook.com/NYPL.Milstein">Facebook</a> pages.<br />
		</p>
		<p class="plain"><strong>About NYPL Labs</strong></p>
		<p class="plain"><a href="http://www.nypl.org/collections/labs">NYPL Labs</a> is an experimental unit at the New York Public Library developing ideas and tools for digital research. A collaboration among curators, designers and technologists, NYPL Labs is dedicated to rethinking what a public research library can be and do in the new information commons. We develop everything from proof-of-concept pilots to fully realized web applications and digital archives, as well as hosting a variety of staff workshops and public talks. Building on the Library's public mission, Labs also seeks to foster collaboration with NYPL users through crowdsourcing and participatory initiatives, and shares tools and data with the wider library and digital humanities communities.<br />
		</p>
		<p class="plain"><strong>Credits</strong></p>
		<p class="plain">Milstein Division<br />
		  Maira Liriano (Manager/Project Curator)<br />
		  Sachiko Clayton<br />
		  Carmen Nigro<br />
		  Philip Sutton</p>
		<p class="plain"><strong>NYPL Labs</strong><br />
		  Ben Vershbow - Project Director<br />
		  Zeeshan Lakhani - Lead Developer<br />
		  Mauricio Giraldo - Designer/Developer<br />
		  David Riordan - Product Manager<br />
		</p>
		<p class="plain"><strong>Collaborators</strong></p>
		<p><a href="http://stephenmorse.com/census/unified.html">One-Step Unified 1940 Census ED Finder</a> and related sites: Stephen Morse and Joel Weintraub<br />
			<a href="http://nytlabs.com/">New York Times R&amp;D Labs</a>: Evan Sandhaus and team<br />
			<a href="http://archives.gov">National Archives</a>: Rebecca Warlow, Pamela Wright, Constance Potter and David Ferriero (National Archivist of the United States, and NYPL alumnus)<br />
			<a href="http://www.documentcloud.org/">Document Cloud</a>: Ted Han, Jeremy Ashkenaz<br />
			<a href="http://www.usgs.gov/">U. S. Geological Survey</a>: Gregory Allord<br />
		</p>
		<p class="plain"><strong>Special Thanks</strong></p>
		<p class="plain">NYPL: Ann Thornton, Matt Knutzen, Jeffrey Roth, Micah May, Michael Lascarides, Jane Aboyoun, Irene David, Michelle Gordon, Michele Byrd<br />
		  Association of Professional Genealogists, NY Metro chapter (beta testers!): Terry Koch-Bostic, Roger Joslyn, Debra Braverman, Jordan Auslander, Toni Raptis, Joan Koster Morales, McKelden Smith, Leslie Corn<br />
		  At large: KICKMap</p></div>
	</div>
</div>