div#conn_social.modal.hide.fade
	div.modal-header
		a.close data-dismiss="modal" ×
		h3 Select the identity you want to use to submit your story

	div.modal-body
		div.conns
			| <a href="#" id="fb-submit"><span>Facebook</span></a><br />
			| <a href="#" id="tw-submit"><span>Twitter</span></a><br />
			| <a href="#" id="g-submit"><span>Google</span></a>
