<div id="mainwrapper">
	<div id="main">

		<div id="templateheader">
			<h1>FAQ</h1>
		</div>


		<div id="templatecontent">
			<!--Intro-->
			<h2 class="plain">So what exactly is going on here?</h2>
			<p class="plain">The primary aim of this website is to improve access to the recently released 1940 Federal Census. Because the census records are not yet name-searchable, the best way to locate a particular New Yorker's record is to convert a NYC street address into Enumeration District (ED) numbers, the smallest organizational units of the census. That's why we've digitized New York City telephone directories from 1940. While not a sure bet, they're the single best place to start looking for the address of a 1940s New Yorker.</p>
<div class="photo">
		<p class="caption"><strong>Get in touch!</strong></p>
		<p class="caption">General questions, bug reports, feature ideas, press inquiries etc.: email <a href="mailto:directme@nypl.org">directme@nypl.org</a></p>
		<p class="caption">Research questions: <a href="http://www.nypl.org/locations/tid/36/node/126519">get in touch</a> with a NYPL librarian</p>
</div>
			<p class="plain">Not interested in researching the census? Not a problem. Feel free to explore these old directories for their other peculiarities (advertisements and other vintage goodies). You might also enjoy browsing <a href="/latest">recent searches and stories</a> created by other users on their journey to the census.</p>
			<!--/Intro-->
		</div>


		<!--toc-->
		<div id="toc">
			<a name="toctop"></a>
			<h2>Frequently asked questions</h2>
			<ul>
				<li> 
					<a href="#q1"> How is the census useful to my genealogical research?</a>
				</li> 
				
				<li> 
					<a href="#q2"> Why can’t I search the 1940 Census by name the way I can search all the earlier census records?</a>
				</li> 
				
				<li> 
					<a href="#q3"> What is an ED number, and why is it important?</a>
				</li> 
				
				<li> 
					<a href="#q4"> Why are there multiple ED numbers for one address?</a>
				</li>
				
				<li>
					<a href="#q5"> What makes the 1940 U.S. Federal census so interesting?</a>
				</li>
				
				<li>
					<a href="#q6"> How do I read the census once I get there?</a>
				</li>

				<li>
					<a href="#q7"> I cannot find my ancestor in any New York City telephone directories.</a>
				</li>

				<li>
					<a href="#q8"> My ancestors lived in other cities and towns. What can I do to find them in the 1940 census?</a>
				</li>

				<li>
					<a href="#q9"> What are telephone directories?</a>
				</li>

				<li>
					<a href="#q10"> What's the deal with the 5-digit extensions?</a>
				</li>

				<li>
					<a href="#q11"> What was New York City like in 1940?</a>
				</li>

				<li>
					<a href="#q12"> I found the person I was looking for in the 1940 Census - what can I do next?</a>
				</li>

				<li>
					<a href="#q13"> Do you plan to digitize directories for other cities or years?</a>
				</li>

				<li>
					<a href="#q14"> Which telephone directories is this site using?</a>
				</li>
			</ul> 
		</div>
		<!--toc-->

		<div id="templatecontent">
			<div class="qa">
				<a href="" name="q1"></a>
				<p class="q" >How is the census useful to my genealogical research?</p>
				<p class="a" >The US federal census was taken every decade beginning in 1790 and provides helpful information about individuals living in the United States. From 1790-1840 only the heads of household were named, but after 1850 every free individual was listed. Census questions varied from year to year but often included age, country or state of birth, parents’ place of birth, year of immigration, occupation and address. Using the census you can trace a family line in the United States several generations. If you find someone listed as married in the 1940 census you may want to search for them in earlier years of the census before they were married to find them living with their parents. Also looking through the pages of the census can offer a snapshot of your ancestor’s neighborhood; for example you may find that your ancestor lived in a neighborhood with many apartment buildings, or they may have lived on a street of single family homes.</p>
				<p class="plain" ><a href="#toctop">Top</a></p>
			</div>

			<div class="qa">
				<a href="" name="q2"></a>
				<p class="q" >Why can’t I search the 1940 census by name the way I can search all the earlier census records?</p>
				<p class="a" >A name index does not yet exist for the 1940 census. However, <a href="http://www.ancestry.com/">Ancestry</a>.com and <a href="http://familysearch.org/">FamilySearch.org</a> have both announced plans to index the census after it opens on April 2, 2012. This indexing will take several months, but you can still locate people by identifying the enumeration district (ED) in which they lived in 1940. You start with a home address of the person you are looking for and then you convert that address to the ED number. Once you have the ED, you browse the census for that enumeration district, usually around 30 pages, looking for the address.</p>
				<p class="plain" ><a href="#toctop">Top</a></p>
			</div>
			
			<div class="qa">
				<a href="" name="q3"></a>
				<p class="q" >What is an ED number, and why is it important?</p>
				<p class="a" >ED stands for Enumeration District. According to the National Archives, “an enumeration district, as used by the Bureau of the Census, was an area that could be covered by a single enumerator (census taker) in one census period. Enumeration districts varied in size from several city blocks in densely populated urban areas to an entire county in sparsely populated rural areas.” Basically, an E.D. is the smallest organizational unit of the census. Once you know what E.D. a person lived in you can scroll through that section to find them. It is important to know that these districts changed over time and for that reason you can’t use the same E.D.s from an earlier census to search the 1940 census.</p>
				<p class="plain" ><a href="#toctop">Top</a></p>
			</div>
			
			<div class="qa">
				<a href="" name="q4"></a>
				<p class="q" >Why are there multiple ED numbers for one address?</p>
				<p class="a" >If a street is on the border of two Enumeration Districts, you will get two ED numbers for that street. For instance, one side of the street, perhaps the location of all the odd numbered houses on that street, will be in one Enumeration District, and the other side of the street, with all of the houses with even numbers, will be in the adjoining Enumeration District. In this instance you will have to browse both Enumeration Districts in the census to find the address you are looking for.</p>
				<p class="plain" ><a href="#toctop">Top</a></p>
			</div>
			
			<div class="qa">
				<a href="" name="q5"></a>
				<p class="q" >What makes the 1940 U.S. Federal census so interesting?</p>
				<p class="a" >The 1940 census is interesting because in addition to asking the usual questions about age, gender, birth place, and so on, for the first time the census:<br/>
				<br/>
				– Asked people where they were living in 1935, important for tracking economic migration during the Great Depression.<br/>
				 – Asked questions about income, and level of education.<br/>
				 – A supplementary section, answered by 5% of the population, asked questions about Social Security.<br/>
				 – Identified who answered the enumerator’s questions.<br/>
				<br/>
				In addition to this, the 1940 census will help answer questions pertaining to, for instance, immigration from Europe prior to the Second World War, and will describe the Japanese-American population prior to internment. The United States Census Bureau features a great page titled <a href="http://www.census.gov/1940census/"Taking You Back to the 1940s</a> that explores this subject in more detail.</p>
				<p class="plain" ><a href="#toctop">Top</a></p>
			</div>

			<div class="qa">
				<a href="" name="q6"></a>
				<p class="q" >How do I read the census once I get there?</p>
				<p class="a" >If you are looking at a census for the first time, it can sometimes be difficult to make sense of what the different sections mean.  You can download a <a href="http://www.archives.gov/research/census/1940/1940.pdf">blank 1940 census form</a>, from the National Archives’ website, that includes a key, explaining what the different sections mean, and a more detailed <a href="http://www.archives.gov/research/census/1940/general-info.html#questions">guide to the enumerator’s questions</a>.<br/><br/>

				Ancestry.com also provides a free blank <a href="http://c.mfcreative.com/email/1940/1940_US_Census_FINAL.pdf">census</a> form.</p>
				<p class="plain" ><a href="#toctop">Top</a></p>
			</div>

			<div class="qa">
				<a href="" name="q7"></a>
				<p class="q" >I cannot find my ancestor in any New York City telephone directories.</p>
				<p class="a" >Is there another way you can find out where your ancestor was living in 1940? For instance, perhaps they were at the same address in 1930. In that case you can look them up in the 1930 census, using a genealogy database like <a href="http://www.nypl.org/collections/articles-databases/ancestry-library-edition">Ancestry Library Edition</a> or <a href="http://www.nypl.org/collections/articles-databases/heritagequest-online">HeritageQuest</a>, and use that information to locate the ED number. These databases may include other documents that will reveal where your ancestor lived in 1940.<br/><br/>
				Consider looking in other records from the time period that note an address such as the World War II Draft Records or Naturalization records available online on Ancestry Library Edition.<br/><br/>
				Family archives are also an excellent sources of information. Old address books, diaries, bills, letters, birth, marriage, and death certificates, scrapbooks, photograph albums, and draft cards are some of the documents that you may have at home, that contain, or provide a clue, to a 1940 address.<br/><br/>
				The National Archives website has great advice on researching the <a href="http://www.archives.gov/research/census/1940/start-research.html">1940 Federal Population Census</a>, as does genealogist Stephen Morse’s <a href="http://www.stevemorse.org/">One-Step</a> site, which includes a tip sheet, <a href="http://stevemorse.org/census/1940census.htm">Getting ready for the 1940 census: Searching without a name index</a>.</p>
				<p class="plain" ><a href="#toctop">Top</a></p>
			</div>

			<div class="qa">
				<a href="" name="q8"></a>
				<p class="q" >My ancestors lived in other cities and towns. What can I do to find them in the 1940 census?</p>
				<p class="a" >The New York Public Library has <a href="http://www.nypl.org/sites/default/files/telephoneus.pages_.pdf">telephone books for selected cities</a> in the United States. These have not been digitized and you will need to use them in person at the <a href="http://www.nypl.org/locations/schwarzman">Stephen A. Schwarzman Building</a>. Also, some smaller towns and cities continued to publish their city directories (which provide an individual’s address and occupation) in addition to telephone books. We have a strong collection of city directories; however all these also need to be viewed at the <a href="http://www.nypl.org/locations/schwarzman">Schwarzman Building</a>, specifically in the <a href="http://nypl.org/milstein">Milstein Division</a>. If you know the family did not move between 1930 and 1940, you may want to search the address from 1930. For more suggestions refer to <a href="#q6">question 6</a>.</p>
				<p class="plain" ><a href="#toctop">Top</a></p>
			</div>

			<div class="qa">
				<a href="" name="q9"></a>
				<p class="q" >What are telephone directories?</p>
				<p class="a" >Telephone directories have changed over time from the first created in 1878 to the current white pages online. You can <a href="http://www.nypl.org/blog/2010/12/14/look-book-city-directory">read more about telephone directories</a> on the Milstein Division blog. For the purpose of this guide we are referring to telephone books since they provide addresses in addition to telephone numbers.</p>
				<p class="plain" ><a href="#toctop">Top</a></p>
			</div>

			<div class="qa">
				<a href="" name="q10"></a>
				<p class="q" >What's the deal with the 5-digit extensions?</p>
				<p class="a" >A telephone number in the 1940s looks something like this:<br/>
				<strong>AC</strong>admy 2-5082<br/><br/>
				This is the telephone number of one Carl Adler, who lived at 50 Manhattan Avenue. The first part of the number, “ACadmy 2” refers to the telephone exchange attached to that number, in this case Academy 2. It is the equivalent of today’s area code, 212, 347, 646, and so on. The first capital letters are dialled as numbers, along with the number 2, to make the area code, in this case 222: the lower case letters are not dialled. The remaining four digits. “5082,” identify Mr. Adler’s telephone number. Therefore Carl Adler’s telephone number, as dialed, was 222-5082. Using letters in telephone numbers was phased out in the early 1960s, much to the dismay of the Anti-Digit Dialling League, who mourned the loss of some famous prefixes, such as BUtterfield 8, and Pennsylvania 6.</p>
				<p class="plain" ><a href="#toctop">Top</a></p>
			</div>

			<div class="qa">
				<a href="" name="q11"></a>
				<p class="q" >What was New York City like in 1940?</p>
				<p class="a" >If you are interested in finding out what New York City was like in 1940, New York Public Library’s collections include a number of materials on this subject. You can search the Library’s online catalog using a variety of subject terms, such as:<br/><br/>
				– <a href="http://catalog.nypl.org/search~S1?/dNineteen+Forties/dnineteen+forties/1%2C11%2C45%2CB/exact&FF=dnineteen+forties&1%2C18%2C">Nineteen Forties</a><br/>
				– <a href="http://catalog.nypl.org/search~S1?/dUnited+States+-+Social+life+and+customs+-+1918-1945/dunited+states+social+life+and+customs+1918+1945/1%2C11%2C167%2CB/exact&FF=dunited+states+social+life+and+customs+1918+1945&1%2C116%2C/indexsort=-">United States - Social life and customs - 1918-1945</a><br/>
				– <a href="http://catalog.nypl.org/search~S1?/dUnited+States+-+Social+conditions+-+1933-1945/dunited+states+social+conditions+1933+1945/1%2C15%2C239%2CB/exact&FF=dunited+states+social+conditions+1933+1945&1%2C188%2C/indexsort=-">United States - Social conditions - 1933-1945</a><br/>
				– <a href="http://catalog.nypl.org/search~S1?/dNew+York+World%27s+Fair+%281939-1940%29+/dnew+york+worlds+fair+1939+1940/1%2C20%2C127%2CB/exact&FF=dnew+york+worlds+fair+1939+1940&1%2C85%2C/indexsort=-">New York World's Fair (1939-1940)</a><br/>
				– <a href="http://catalog.nypl.org/search~S1?/dDepressions+--+1929+--+New+York+%28State%29+--+New+Yo/ddepressions+1929+new+york+state+new+york+history+pictorial+works/-3%2C-1%2C0%2CB/exact&FF=ddepressions+1929+new+york+state+new+york&1%2C16%2C">Depressions -- 1929 -- New York (State) -- New York.</a><br/>
				<br/>
				Or make up your own <strong>keyword</strong> terms.<br/><br/>
				The Library provides free access to over <a href="http://www.nypl.org/collections/articles-databases?subject=777&location=&audience=&language=&keyword=&limit=">60 New York City history databases</a>, including articles, digitized newspapers, and more besides.<br/><br/>
				If you want to look at pictures from 1940, the <a href="http://digitalgallery.nypl.org/nypldigital/dgkeysearchresult.cfm?keyword=1940&submit.x=0&submit.y=0">NYPL Digital Gallery</a> has hundreds of images, including photographs from the period.</p>
				<p class="plain" ><a href="#toctop">Top</a></p>
			</div>

			<div class="qa">
				<a href="" name="q12"></a>
				<p class="q" >I found the person I was looking for in the 1940 Census - what can I do next?</p>
				<p class="a" >You might like to look for your ancestors in earlier census records: 1930, 1920, and so on, back to the first federal census in 1790. You can also consult digitized historical newspapers, birth, marriage, and death indexes, ship’s passenger lists, and family histories. <a href="http://www.nypl.org/locations/schwarzman/milstein-division-us-history-local-history-genealogy">The Milstein Division</a> has an extensive collection of print, microfilm and online genealogy materials, all available to use free of charge in Room 121 of the Stephen A. Schwarzman Building, where librarians are on hand to help you with your research. Visit our <a href="http://www.nypl.org/locations/tid/36/node/62586">Conducting Research</a> page for more details.</p>
				<p class="plain" ><a href="#toctop">Top</a></p>
			</div>

			<div class="qa">
				<a href="" name="q13"></a>
				<p class="q" >Do you plan to digitize directories for other cities or years?</p>
				<p class="a" >Much as we'd like to, we have no immediate plans to digitize directories for other cities. However, we are considering digitizing NYC telephone and city directories for other years.</p>
				<p class="plain" ><a href="#toctop">Top</a></p>
			</div>

			<div class="qa">
				<a href="" name="q14"></a>
				<p class="q">Which telephone directories is this site using?</p>
				<p class="a">This site is using the New York City Telephone Directories from Winter 1939/1940, published by The New York Telephone Co. and were digitized from microfilmed copies. The individual records for each of the books is as follows:<br/><br/>
				Call No. *ZAN-13682H<br/>
				Library has: Winter 1928-1987/88. <br/>
				<strong>Title:  New York City telephone directories. Manhattan [microform].</strong> <br/>
				Publication Info. New York : New York Telephone Co. <br/>
				Description Annual <br/>
				Description Winter 1928- <br/>
				Note Microfilm. winter 1928-1987/88. New York : New York Public Library, 1957-1988. 57 microfilm reels ; 35 mm. (MN *ZZAN-1588) <br/>
				<a href="http://catalog.nypl.org/record=b16169175~S1">New York City telephone directories. Manhattan [microform].</a> <br/><br/>

				Call No. *ZAN-13682E Library has: Summer 1929-1976/77. <br/>
				Title: New York City telephone directories. Brooklyn [microform]. <br/>
				<strong>Publication Info. Brooklyn, N.Y. : New York Telephone Company</strong> <br/>
				Description Annual <br/>
				Description Summer 1929- <br/>
				Note Microfilm. 1929-1976/77. New York : New York Public Library, 1957-1976. 46 microfilm reels ; 35 mm. (MN *ZZAN-1588). <br/>
				Note Prior to 1944 also includes the Brooklyn classified directory. For 1944 and later issues of the classified directory, see: New York City telephone directories. Brooklyn. Classified. <br/>
				<a href="http://catalog.nypl.org/record=b16141421~S1">New York City telephone directories. Brooklyn [microform].</a> <br/><br/>

				Call No. *ZAN-13682M Library has: winter 1933-1975/1976. <br/>
				<strong>Title:  New York City telephone directories. Queens [microform].</strong> <br/>
				Publication Info. New York : New York Telephone Company, <br/>
				Description Annual <br/>
				Note Microfilm. 1933-1973/74. New York : New York Public Library, [1957?]-1973. 35 microfilm reels ; 35 mm. (MN *ZZAN-1588). <br/>
				<a href="http://catalog.nypl.org/record=b16141418~S1">New York City telephone directories. Queens [microform].</a> <br/><br/>

				Call No. *ZAN-13682A Library has: Summer 1929-1976/77. <br/>
				<strong>Title:  New York City telephone directories. Bronx [microform].</strong> <br/>
				Publication Info. New York : New York Telephone Co. [etc.] <br/>
				Description Annual <br/>
				Description Summer 1929- <br/>
				Note Microfilm. 1929-1973/74. New York : New York Public Library, 1957-1976. 26 microfilm reels ; 35 mm. (MN *ZZAN-1588). <br/>
				<a href="http://catalog.nypl.org/record=b16141424~S1">New York City telephone directories. Bronx [microform].</a> <br/><br/>

				Call No. *ZAN-13682Q Library has: winter 1927/28-1976. <br/>
				<strong>Title:  New York City telephone directories. Staten Island [microform].</strong> <br/>
				Publication Info. New York, N.Y. : New York Telephone Company, <br/>
				Description Annual <br/>
				Description Winter 1927/28- <br/>
				Note Filmed together with the Staten Island classified. <br/>
				<a href="http://catalog.nypl.org/record=b16144964~S1">Note Microfilm. 1927/1928-1973. New York : New York Public Library, 1957-1973. 15 microfilm reels ; 35 mm. (MN *ZZAN-1588)</a>
				</p>


			<div class="spacer"></div>
		</div>
	</div>
</div>