#searchterms {
	margin-bottom: 12px;
}

#results, #annotations {
	float: left;
	width: 230px;
	margin: 0 5px 0 5px;
	margin-bottom: 12px;
}

#annotations #frm-annotate {
	margin-bottom: 12px;
}

#annotations #frm-annotate textarea {
	margin: 0 5px 6px 5px;
}

#geo {
	float: right;
	width: 470px;
	background: #fff;
	border: 1px solid #ccc;
	padding: 4px;
	margin-bottom: 12px;
}

#nyplmap, #gmap {
	float: left;
}

#nyplmap {
	margin-right: 10px;
}

#nytimes {
	clear: none;
	float: right;
	width: 480px;
}

#ticker .title {
	float: none;
	width: auto;
}

#ticker .content {
	float: none;
	width: auto;
	margin-top: 6px;
}

.crossstreets {
	width: 220px;
}

.crosscheck a {
	font-weight: bold;
}

.crosscheck a {
	color: red;
	font-size: 14px;
}

.EDcontent, .crosscontent {
	margin-bottom: 12px;
}

.onesteplogo {
	display: inline-block;
	background: url(../images/sprites.png) 0 0 no-repeat;
	width: 18px;
	height: 18px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

#EDlist {
	width: 100%;
	margin-left: 5px;
	margin-right: 5px;
}

#EDlist a {
	display: block;
	float: left;
	width: 64px;
	text-align: center;
	padding: 6px 2px;
	margin: 6px 6px 6px 0;
}

/* media queries */
@media screen and (min-width: 0px) and (max-width: 960px) {
	#geo {
		float: left;
	}

	#results {
		width: 470px;
		margin-right: 470px;
	}

	#results .crosscontent, #results .EDcontent {
		float: left;
		width: 230px;
	}

	#results .crosscontent {
		margin-right: 10px;
	}

	#annotations {
		float: none;
		position: absolute;
		right: 0;
	}

	#nytimes {
		clear: both;
		float: none;
		width: auto;
	}
}

@media screen and (min-width: 0px) and (max-width: 620px) {
	#annotations {
		float: none;
		position: relative;
		display: inline-block;
		width: 470px;
	}

	#annotations .content, #annotations #frm-annotate {
		float: left;
		width: 230px;
	}

	#annotations .content {
		margin-right: 10px;
	}
}