#searchterms {
	margin-bottom: 12px;
}

#results, #annotations {
	float: left;
	width: 230px;
	margin: 0 5px 0 5px;
	margin-bottom: 12px;
}

#results {
	min-height: 360px;
}

#annotations #frm-annotate {
	margin-bottom: 12px;
}

.texts {
	margin-top: 50px;
}

#annotations #frm-annotate textarea {
	margin: 0 5px 6px 5px;
}

#frm-annotate .buttons {
	margin: 4px 0 0 4px;
}

#frm-annotate #submit {
	display: none;
}

#frm-annotate #submit.post {
	display: inline;
}

#main .modal {
	width: 260px;
}

#geo {
	float: right;
	width: 470px;
	background: #fff;
	border: 1px solid #ccc;
	padding: 4px;
	margin-bottom: 12px;
}

#nyplmap, #gmap {
	float: left;
	width: 230px;
	height: 230px;
}

#nyplmap {
	margin-right: 10px;
}

#geo .overlays {
	position: absolute;
	width: 470px;
	margin-top: 4px;
	z-index: 10;
}

#geo .overlays .nyploverlay {
	float: left;
	width: 230px;
}

#geo .overlays .gmapoverlay {
	float: right;
	width: 230px;
	text-align: right;
}

#geo .overlays span {
	background: #fff;
	padding: 0 4px;
}

#geo .mapcaption {
	padding: 0 2px 6px 2px;
}

#cutout .page {
	height: 108px;
	margin-bottom: 8px;
	-moz-box-shadow:    inset 0 0 20px #000000;
	-webkit-box-shadow: inset 0 0 20px #000000;
	box-shadow:         inset 0 0 20px #000000;
}

#nytimes {
	clear: none;
	float: right;
	width: 480px;
	margin-top: 12px;
}

#ticker {
	width: 470px;
}

#ticker .title {
	float: none;
	width: auto;
}

#ticker .content {
	float: none;
	width: auto;
	margin-top: 6px;
}

.crossstreets {
	width: 220px;
}

.crosscheck a {
	font-weight: bold;
}

.crosscheck a {
	color: red;
	font-size: 14px;
}

.EDcontent, .crosscontent {
	margin-bottom: 12px;
}

.EDcontent {
	/* BACKGROUND GRADIENT */
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(204,204,204,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%);
	background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 );
	/* BORDER RADIUS */
	border: 1px solid #ccc;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-o-border-radius:6px;
	-ms-border-radius:6px;
	border-radius:6px;
	-ms-border-radius:6px;
}

.onesteplogo {
	display: inline-block;
	background: url(../images/sprites.png) 0 0 no-repeat;
	width: 18px;
	height: 18px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

#EDlist {
	width: auto;
	margin-left: 5px;
	margin-right: 5px;
}

#EDlist a {
	display: block;
	float: left;
	width: 64px;
	text-align: center;
	padding: 6px 0;
	margin: 6px 5px 6px 0;
}

.EDmore1, .EDonly1, .EDnone {
	display: none;
}

.print {
	float: left;
	padding-top: 12px;
}

/* media queries */
@media screen and (min-width: 0px) and (max-width: 960px) {
	#geo {
		float: left;
	}

	#results {
		width: 470px;
		margin-right: 470px;
		min-height: 0;
	}

	#results .crosscontent {
		margin-right: 10px;
	}

	#annotations {
		float: none;
		position: absolute;
		right: 0;
	}

	#nytimes {
		clear: both;
		float: none;
		width: 710px;
	}

	#nytimes .footer {
		padding-top: 60px;
	}

	#ticker {
		width: 710px;
	}

}

@media screen and (min-width: 0px) and (max-width: 740px) {
	#annotations {
		float: none;
		position: relative;
		display: inline-block;
		width: 470px;
	}

	#annotations .content, #annotations #frm-annotate {
		float: left;
		width: 230px;
	}

	#annotations .content {
		margin-right: 10px;
	}
	
	#nytimes {
		width: 470px;
	}

	#ticker {
		width: 470px;
	}


}

@media print {

	#annotations {
		display: none;
	}
	
	#nytimes {
		display: none;
	}

	#cutout {
		display: none;
	}

	#nav_bar {
		display: none;
	}

	.streetchoices {
		display: none;
	}

	.crossstreets {
		display: none;
	}

	#nypl_bar {
		display: none;
	}

	#geo {
		float: left;
	}

	#results {
		width: 470px;
		margin-right: 470px;
		min-height: 0;
	}

	#footer {
		display: none;
	}

	#EDlist a{
		font-size: 20px;
		width: 70px;
	}

	.print {
		display: none;
	}
}

@media screen and (min-width: 0px) and (max-width: 460px) {
	#results {
		width: 230px;
		margin-right: 0;
	}

	#annotations {
		width: 230px;
	}

	#annotations .content, #annotations #frm-annotate {
		float: none;
	}
	
	#geo {
		float: none;
		width: 230px;
	}
	
	#nyplmap, #gmap {
		float: none;
	}
	
	#nyplmap {
		margin-bottom: 10px;
	}
	
	#geo .overlays {
		position: relative;
	}

	#geo .overlays .nyploverlay {
		position: absolute;
		top: -470px;
	}

	#geo .overlays .gmapoverlay {
		position: absolute;
		top: -230px;
	}

	#nytimes {
		width: 230px;
	}

	#ticker {
		width: 230px;
	}
}