#searchterms {
	margin-bottom: 12px;
}

#results, #annotations {
	float: left;
	width: 230px;
	margin: 0 5px 0 5px;
	margin-bottom: 12px;
}

#geo {
	float: right;
	width: 470px;
	border: 1px solid #ccc;
	padding: 4px;
	margin-bottom: 12px;
}

#nyplmap, #gmap {
	float: left;
}

#nyplmap {
	margin-right: 10px;
}

#nytimes {
	clear: none;
	float: right;
	width: 470px;
}

#ticker .title {
	float: none;
	width: auto;
}

#ticker .content {
	float: none;
	width: auto;
	margin-top: 6px;
}
