#annotations {
	float: none;
	position: relative;
	display: inline-block;
	width: 470px;
}

#annotations .content, #annotations #frm-annotate {
	float: left;
	width: 230px;
}

#annotations .content {
	margin-right: 10px;
}

