#geo {
	float: left;
}

#results {
	width: 470px;
	margin-right: 470px;
}

#results .crosscontent, #results .EDcontent {
	float: left;
	width: 230px;
}

#results .crosscontent {
	margin-right: 10px;
}

#annotations {
	float: none;
	position: absolute;
	right: 0;
}

#nytimes {
	clear: both;
	float: none;
	width: auto;
}

