/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* undohtml.css */
/* (c) 2004-2010 Tantek Çelik. Some Rights Reserved. http://tantek.com */
/* This style sheet is licensed under a Creative Commons License.      */
/*             http://creativecommons.org/licenses/by/2.0              */

/* Purpose: undo some of the default styling of common browsers        */

/* link underlines tend to make hypertext less readable,
   because underlines obscure the shapes of the lower halves of words */
:link,:visited,ins { text-decoration:none }

/* no list-markers for nav lists, default markers work well for item lists */
nav ul,nav ol { list-style:none }

/* avoid browser default inconsistent heading font-sizes */
/* and pre/code/kbd too */
h1,h2,h3,h4,h5,h6,pre,code,kbd { font-size:1em; }

/* remove the inconsistent (among browsers) default ul,ol padding or margin  */
/* the default spacing on headings does not match nor align with
   normal interline spacing at all, so let's get rid of it. */
/* zero out the spacing around pre, form, body, html, p, blockquote as well */
/* form elements are oddly inconsistent, and not quite CSS emulatable. */
/*  nonetheless strip their margin and padding as well */
dl,ul,ol,li,
h1,h2,h3,h4,h5,h6,
html,body,pre,p,blockquote,
form,fieldset,input,label
{ margin:0; padding:0 }

/* who thought blue linked image borders were a good idea? no abbr borders */
abbr, img, object,
a img,:link img,:visited img,
a object,:link object,:visited object
{ border:0 }

/* de-italicize address,abbr */
address,abbr { font-style:normal }

/* get rid of ad frames inserted by local wifi connections e.g. AnchorFree */
/* iframe:not(.auto-link) { display:none ! important; visibility:hidden ! important; margin-left: -10000px ! important  } */

/* more varnish stripping as necessary... */
body {
	font-family: ff-tisa-web-pro, "Tisa OT", Garamond, Times, serif;
	font-size: 12px;
}

strong {
	font-weight: bold;
}

a {
	color: #666;
}

a.hi, .hl {
	color: #f00;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1, h2, h3, h4, p, ul {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 6px;
}

p {
	margin-bottom: 1em;
	line-height: 1.4em;
}

#header h1 {
	font-size: 36px;
}

#nav_bar a {
	font-size: 18px;
	color: #000;
	line-height: 1.8em;
}

#nav_bar a:hover, #nav_bar a:active, #boroughs li a:hover, #boroughs li a:active {
	color: #f00;
}

#arrow p {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	padding-right: 60px;
	margin-left: 24px;
	background: url(../images/sprites.png?1331676552) 120px -70px no-repeat;
}

#boroughs li {
	font-family: league-gothic, "League Gothic", Impact, sans-serif;
	line-height: 0.85em;
}

#boroughs li a {
	color: #000;
}

#tip {
	padding: 12px 0;
}

#tip h3 {
	font-size: 16px;
	color: #666;
}

#tip .content {
	font-size: 20px;
	line-height: 1.2em;
}

#tip a {
	margin: 0 5px;
}

#nytimes .title {
	font-weight: bold;
}

#nytimes p {
	height: 12px;
	margin: 0;
}

#nytimes .logo {
	display: inline-block;
	width: 137px;
	height: 20px;
	background: url(../images/sprites.png?1331676552) 0 -123px no-repeat;
	margin-left: 3px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

#searchterms {
	font-size: 24px;
}

.EDcontent, .crosscontent {
	margin-bottom: 12px;
}

.onesteplogo {
	display: inline-block;
	background: url(../images/sprites.png?1331676552) 0 0 no-repeat;
	width: 18px;
	height: 18px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

#EDlist {
	width: 100%;
	margin-left: 5px;
	margin-right: 5px;
}

#EDlist td {
	padding: 6px 0;
}

#EDlist td.EDnumber a {
	font-size: 18px;
	color: #f00;
}

#EDlist td.NARAlink a {
	display: inline-block;
	padding: 4px;
	/* BACKGROUND GRADIENT */
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(204,204,204,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%);
	background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 );
	/* BORDER RADIUS */
	border: 1px solid #ccc;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	border-radius:4px;
	-ms-border-radius:4px;
}

.annotation {
	margin-bottom: 12px;
}

.annotation p, .annotation h4 {
	margin-bottom: 0;
}

.annotation p.author {
	color: #666;
}

#frm-annotate textarea {
	width: 210px;
	height: 120px;
	margin-bottom: 4px;
}

#frm-annotate a {
	display: inline-block;
	width: 145px;
	height: 16px;
	padding: 3px;
	margin-bottom: 4px;
	/* BACKGROUND GRADIENT */
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(204,204,204,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%);
	background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(204,204,204,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 );
	/* BORDER RADIUS */
	border: 1px solid #ccc;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-o-border-radius:6px;
	-ms-border-radius:6px;
	border-radius:6px;
	-ms-border-radius:6px;
}

#frm-annotate a {
	position: relative;
	margin-left: 66px;
}

#frm-annotate a#fb-submit span:after, #frm-annotate a#tw-submit span:after, #frm-annotate a#g-submit span:after {
	content: "";
	width: 16px;
	height: 16px;
	position:absolute;
	right: 4px;
	top: 3px;
	background: url(../images/sprites.png?1331676552) no-repeat;
}

#frm-annotate a#fb-submit span:after {
	background-position: 0 -19px;
}

#frm-annotate a#tw-submit span:after {
	background-position: 0 -36px;
}

#frm-annotate a#g-submit span:after {
	background-position: 0 -53px;
}

/* TEMPLATE PAGES */

#templateheader {
	font-size: 24px;
}

#toc, #templatecontent {
	font-size: 16px;
	line-height: 1.4em;
}

#toc a {
	color: #f00;
}

#templatecontent .q:before {
	content: "Q/ ";
}

#templatecontent .q {
	color: #666;
}

#templatecontent .a:before {
	content: "A/ ";
}

.photo .caption {
	font-size: 12px;
	color: #666;
	margin-bottom: 0;
}

.modal, .popover {
}

.modal em, .popover em {
	color: #f00;
}

.modal .frm-text {
	padding: 6px;
	font-size: 18px;
}

.modal #frm-modal-number {
	width: 100px;
}

.modal #frm-modal-street {
	width: 200px;
	margin-left: 5px;
}

.modal .frm-help {
	color: #666;
	font-size: 18px;
	padding-left:3px;
}

#header_compact #nav_bar a {
	font-size: 18px;
	color: #000;
	line-height: 1.8em;
}

#header_compact #nav_bar a:hover, #header_compact #nav_bar a:active {
	color: #f00;
}


div.spacer {
	clear: both;
	height: 0px;
}

/* MAIN STRUCTURE */

#wrapper {
}

#mainwrapper {
	width: 960px;
	margin: 0 auto;
}

#nypl_bar {
	font-family: "Kievit", "Myriad Pro", "Lucida Grande", "Calibri", verdana, arial, helvetica, sans-serif;
	position: relative;
	height: 30px;
	margin: 0;
	padding: 0 0 0 60px;
	background: url(../images/sprites.png?1331676552) 10px -151px no-repeat black;
	color: #aaa;
	font-size: 14px;
}

#nypl_bar div {
	padding-top: 4px;
}

#nypl_bar form {
	display: inline;
}

#nypl_bar  a, #nypl_bar a:link, #nypl_bar a:visited {
	color: #fff;
}

#header {
	background: #fff;
	height: 70px;
	border-bottom: 2px solid #000;
}

#header h1 {
	width: 300px;
	float: left;
}

#header_compact {
	background: #fff;
	height: 40px;
	border-bottom: 2px solid #000;
}

#nav_bar {
	float: right;
	width: 300px;
	top: 0;
}

#header_compact #nav_bar {
	float: none;
	width: auto;
	margin-left: 10px; 
}

#nav_bar a {
	display: inline-block;
	margin-left: 30px;
	border-top: 5px solid #fff;
	padding-top: 30px;
}

#header_compact #nav_bar a {
	display: inline-block;
	margin: 0 20px 0 0;
	border-top: 5px solid #fff;
	padding: 0;	
}

#nav_bar a:hover, #nav_bar a:active, #nav_bar a.current, #header_compact #nav_bar a:hover, #header_compact #nav_bar a:active, #header_compact #nav_bar a.current {
	border-top-color: #f00;
}

#main {
	position: relative;
	background: url(../images/background.png?1331049270);
	padding-top: 24px;
	padding-bottom: 48px;
	z-index: 1;
}

#blurb {
	float: left;
	width: 230px;
	margin: 0 5px 0 5px;
}

#borough_selector {
	width: 470px;
	float: left;
	margin: 0 5px 0 5px;
	margin-bottom: 12px;
}

#arrow {
	width: 230px;
	margin-top: 75px;
	float: left;
}

#boroughs {
	float: right;
	width: 230px;
	display: inline-block;
	font-size: 48px;
	margin-right: 0;
}

#tip {
	position: absolute;
	top: 204px;
	left: 120px;
	width: 230px;
	margin: 0 5px 0 5px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	background: #fff;
}

#nytimes {
	clear: both;
	margin-top: 12px;
}

#ticker .title, #ticker .content {
	position: relative;
	z-index: 2;
}

#ticker .title {
	float: left;
	width: 120px;
	margin-left: 5px;
}

#ticker .content {
	float: left;
	width: 810px;
	height: 17px;
	overflow: hidden;
}

#nytimes .footer {
	width: 230px;
	margin: 12px auto 0 auto;
	text-align: center;
}

/* DROP SHADOWS [http://nicolasgallagher.com/css-drop-shadows-without-images/demo/] */

#ticker {
	position:relative;
	padding:5px; 
	background:#fff;
	z-index: 1;
}

#ticker:before,
#ticker:after {
	content:"";
	position:absolute; 
}


#ticker:before {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
	-moz-border-radius:100px / 10px;
	border-radius:400px / 10px;
	z-index: -1;
}


#ticker:after {
	top: 0;
	bottom: 0;
	left: -10px;
	right: -10px;
	background: #fff;
	z-index: 0;
}

#ticker .content:before, #ticker .content:after {
	content:".";
	position:absolute; 
	width: 64px;
	color: #fff;
}

#ticker .content:before {
	left: 0;
	top: 0;
	background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
}


#ticker .content:after {
	right: 0;
	top: 0;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}

/* END TICKER SHADOWS */

#video {
	display: inline-block;
	width: 230px;
	background: #fff;
	border: 1px solid #ccc;
	padding: 4px;
	margin-left: 480px;
}

#video .embed {
	width: 230px;
	height: 162px;
}

#footer {
	padding: 24px 0 100px 0;
	border-top: 1px solid #000;
}

/* TEMPLATE PAGES */

#templateheader {
	float: left;
	width: 230px;
	margin: 0 10px 0 5px;
}

#toc {
	float: left;
	width: 470px;
	margin-bottom: 12px;
}

#templatecontent {
	clear: both;
	width: 710px;
}

#templatecontent .q	{
	margin-bottom: 0;
}

#templatecontent .q, #templatecontent .a {
	float: right;
	width: 460px;
	margin-right: 0;
}

#templatecontent .photo {
	float: left;
	width: 230px;
	background: #fff;
	border: 1px solid #ccc;
	padding: 4px;
	margin-right: 5px;
}

#templatecontent .plain {
	float: right;
	width: 465px;
}

.thejloupe {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-box-shadow: rgb(0, 0, 0) 0px 0px 10px;
	-moz-box-shadow: rgb(0, 0, 0) 0px 0px 10px;
	box-shadow: rgb(0, 0, 0) 0px 0px 10px;
}

.thejloupeview {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.thejloupeview:after {
	content: "";
	position: absolute;
	width: 480px;
	height: 108px;
	background: url(../images/magnifier.png?1331323956) 0px 45px no-repeat;
}

/* media queries */
@media screen and (min-width: 0px) and (max-width: 960px) {
	#mainwrapper {
		width: 720px;
	}

	#ticker .content {
		width: 570px;
	}

	#ticker:before {
		border-radius:200px / 10px;
	}
}

@media screen and (min-width: 0px) and (max-width: 620px) {
	#mainwrapper {
		width: 480px;
	}

	#header {
		height: 100px;
	}

	#header h1, #nav_bar, #blurb {
		width: auto;
		float: none;
	}

	#header {
		text-align: center;
	}

	#nav_bar a:first-child {
		margin: 0;
	}

	#nav_bar a {
		display: inline-block;
		margin-left: 30px;
		border-top: none;
		border-bottom: 5px solid #fff;
		padding-top: 14px;
		padding-bottom: 7px;
	}

	#nav_bar a:hover, #nav_bar a:active, #nav_bar a.current {
		border-bottom-color: #f00;
	}


	#blurb {
		margin-bottom: 12px;
	}

	#tip {
		position: relative;
		display: inline-block;
		top: auto;
		left: auto;
		width: auto;
		margin: 0;
	}

	#video {
		display: none;
	}

	#ticker .content {
		width: 470px;
		margin-top: 6px;
	}

	#templateheader, #toc, #templatecontent {
		float: none;
		width: auto;
		margin: 0 5px 0 5px;
	}

	#templatecontent .q, #templatecontent .a, #templatecontent .plain {
		float: none;
		width: auto;
	}

	#templatecontent .photo {
		float: right;
		margin-right: 0;
		margin-left: 5px;
	}

}
#searchterms {
	margin-bottom: 12px;
}

#results, #annotations {
	float: left;
	width: 230px;
	margin: 0 5px 0 5px;
	margin-bottom: 12px;
}

#annotations #frm-annotate {
	margin-bottom: 12px;
}

#annotations #frm-annotate textarea {
	margin: 0 5px 6px 5px;
}

#geo {
	float: right;
	width: 470px;
	background: #fff;
	border: 1px solid #ccc;
	padding: 4px;
	margin-bottom: 12px;
}

#nyplmap, #gmap {
	float: left;
}

#nyplmap {
	margin-right: 10px;
}

#nytimes {
	clear: none;
	float: right;
	width: 480px;
}

#ticker .title {
	float: none;
	width: auto;
}

#ticker .content {
	float: none;
	width: auto;
	margin-top: 6px;
}

/* media queries */
@media screen and (min-width: 0px) and (max-width: 960px) {
	#geo {
		float: left;
	}

	#results {
		width: 470px;
		margin-right: 470px;
	}

	#results .crosscontent, #results .EDcontent {
		float: left;
		width: 230px;
	}

	#results .crosscontent {
		margin-right: 10px;
	}

	#annotations {
		float: none;
		position: absolute;
		right: 0;
	}

	#nytimes {
		clear: both;
		float: none;
		width: auto;
	}
}

@media screen and (min-width: 0px) and (max-width: 620px) {
	#annotations {
		float: none;
		position: relative;
		display: inline-block;
		width: 470px;
	}

	#annotations .content, #annotations #frm-annotate {
		float: left;
		width: 230px;
	}

	#annotations .content {
		margin-right: 10px;
	}
}