| <!--[if (!IE)|(gt IE 8)]><!-->
| <link rel="stylesheet" type="text/css" href="/assets/latest-datauri.css" />
| <link rel='stylesheet' type='text/css' href='/js/libs/wax/ext/leaflet.css' />
| <!--<![endif]-->

| <!--[if IE 8]>
| <link rel="stylesheet" type="text/css" href="/assets/latest-datauri.css" />
| <link rel='stylesheet' type='text/css' href='/js/libs/wax/ext/leaflet.css' />
| <link rel='stylesheet' type='text/css' href='/js/libs/wax/ext/leaflet.ie.css' />
| <![endif]-->

| <!--[if lte IE 7]>
| <link rel='stylesheet' type='text/css' href='/assets/latest.css' />
| <link rel='stylesheet' type='text/css' href='/js/libs/wax/ext/leaflet.css' />
| <link rel='stylesheet' type='text/css' href='/js/libs/wax/ext/leaflet.ie.css' />
| <![endif]-->