<div class="DV-footer">
  <div class="DV-zoomControls">
    <span class="DV-zoomLabel">Zoom</span>
    <div class="DV-zoomBox"></div>
  </div>
          
	<div class="DV-navControlsContainer"></div>
      <% if (pdf_mb) {%>
        <div class="DV-download"><a href="<%= pdfURL %>">Download Directory PDF (<%= pdf_mb %> MB)</a></div>
      <% } else {%>
        <div class="DV-download"><a href="<%= pdfURL %>">Download Directory PDF</a></div>
      <% } %>

</div>