<div class="DV-set p<%= pageIndex %>" data-id="p<%= pageIndex %>" style="top:0;left:0px;height:893px;width:700px;">
    <a class="DV-mag" <%= pageMagSource ? 'href="' + pageMagSource + '"' : '' %> >
      <img class="DV-pageImage" <%= pageImageSource ? 'src="' + pageImageSource + '"' : '' %> height="863" />
    </a>
</div>