<div width="265px" class="DV-sidebar DV-sidebar-left <% if (!options.sidebar) { %>DV-hide<% } %>" style="display:none;">
  <div class="DV-well">
    <div class="DV-sidebarSpacer"></div>
    <%= descriptionContainer %>
    <div class="DV-logo"><a class="DV-logoLink" href="http://www.documentcloud.org"></a></div>
  </div>
</div>