.DV-controls {
  background-color: #f0f4f5;
  height: 37px;
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #aaa;
  margin-top: 10px;
  position: relative;
}
  .DV-collapsibleControls {
    height: 37px;
    /*overflow: hidden;*/
  }

.DV-views{
  list-style-type:none;
  float:left;
  display:inline;
  margin:0 0 0 8px; padding:0;
}
.DV-views.DV-hide {
  display: none;
}
.DV-views div{
  float: left;
  display: inline;
  margin: 7px 0 0;
  padding: 0;
}
.DV-views .DV-hide {
  display: none;
}
.DV-ie6 .DV-views{
  position:absolute;
}

.DV-views div span{
  display: block;
  padding: 9px 14px 8px;
  background: #bfbfbf url(../../../images/DV/embed/tabbg.png);
  border: 1px solid #777; border-top-color: #888;
  font: 10px Arial, Helvetica, sans-serif;
  text-decoration: none;
  height: 12px;
  border-left: none;
  text-transform: uppercase;
  color: #000;
}

.DV-views div.DV-first span{
  border-left:1px solid #777;
}

.DV-views div a:focus{
  outline:0;
}

.DV-viewDocument .DV-views .DV-documentView span,
.DV-viewThumbnails .DV-views .DV-thumbnailsView span,
.DV-viewAnnotations .DV-views .DV-annotationView span,
.DV-viewText .DV-views .DV-textView span,
.DV-viewSearch .DV-views .DV-textView span{
  background-position: 0 -40px;
  font-weight:bold;
  text-shadow: 0px 1px 0px #fff;
  border-bottom-color: #a0a0a0;
}

.DV-download {
  font-family: inherit;
  font-size: 11px;
  margin: 0px 15px 0 0;
  position: absolute;
  right: 0;
  top: 8px;
  width: 110px;
  text-align: center;
}
/**/
.DV-sections {
  font-family: inherit;
  font-size: 11px;
  float: left;
  position: relative;
  width: 420px;
  text-align: center;
  margin: 11px 20px 0 15px;
}

.DV-letters {
  position: relative;
  cursor: pointer;
  margin-top: 2px;
}

.DV-sections span {
  color: #333;
  display: inline;
  float: left;
  font-family: Arial,Helvetica,sans-serif;
  padding: 3px 0 0 0;
  margin: 3px 0 0 6px;
  position: relative;
}

.DV-sections a{
  padding-right: 3px;
  font-size: 12px;
}

.DV-sections a:hover {
  color: #f00;
}
/**/

/* CUSTOM STUFF */
.DV-boroughsView, .DV-azView, .DV-helpView {
	position: relative;
}

.DV-azView {
	width: 70px;
	text-align: center;
}

.DV-boroughsView:hover .DV-submenu, .DV-azView:hover .DV-submenu, .DV-helpView:hover .DV-submenu {
	display: block;
}

div.DV-submenu {
	display: none;
	position: absolute;
	top: 24px;
	background: #ccc;
	border-bottom: 2px solid #333;
}

.DV-boroughsView .DV-submenu {
	width: 105px;
}

.DV-azView .DV-submenu {
	width: 70px;
}

.DV-helpView .DV-submenu {
	width: 390px;
	left: -331px;
}

.DV-helpView .DV-submenu div {
	padding: 6px;
}

.DV-helpView .DV-submenu a {
	color: #f00;
}

.DV-boroughsView .DV-submenu a, .DV-azView .DV-submenu a {
	display: block;
}

.DV-boroughsView .DV-submenu a {
	margin: 5px 10px;
}

.DV-submenu .azLetter {
	width: 19px;
	padding: 2px;
	float: left;
	text-align: center;
}

